.temp{
    display: flex;
    align-items: center;
}
body{
    background-color:rgba(180, 128, 169, 0.849);
    
}
.center {
    position: absolute;


    left: 50%;
  
  
    top: 50%;
  
  
    transform: translate(-50%, -50%);
  
  
    border: 5px 2px #FFFF00;

    background-color: lightblue;
  
    padding: 10px;
  
  
  }

  .button{
      margin:20px;
      padding:20px
  }
  .signin{
      flex-grow: 1;
      margin: 100px;
  }